#Gitignore file
#Ignore caching folders used by rmarkdown and R-history

/code/figures_cache
/code/figures_files
/code/tables_cache
/code/troubleshooting_tau2_cache
/code/troubleshooting_tau2_files

.Rhistory